
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="calculator-view container mt-5 p-4 border rounded shadow">
    <h2 class="text-center">Calculadora</h2>

    <div class="mb-3">
        <label for="valor1" class="form-label">Valor 1</label>
        <input type="number" id="valor1" class="form-control" [(ngModel)]="valor1" placeholder="Ingrese el primer valor">
    </div>

    <div class="mb-3">
        <label for="valor2" class="form-label">Valor 2</label>
        <input type="number" id="valor2" class="form-control" [(ngModel)]="valor2"  placeholder="Ingrese el segundo valor">
    </div>

    <div class="mb-3">
        <label for="resultado" class="form-label">Resultado</label>
        <input type="text" id="resultado" class="form-control" [(ngModel)]="resultado" [value]="resultado" readonly>
    </div>

    <app-calc-actions [val1]="valor1" [val2]="valor2" (res)="onselected($event)"></app-calc-actions>
</div>
