<div class="calculator-actions">
    <div class="row mb-2">
        <div class="col">
            <button class="btn btn-primary w-100" (click)="suma()">+</button>
        </div>
        <div class="col">
            <button class="btn btn-primary w-100" (click)="resta()">-</button>
        </div>
        <div class="col">
            <button class="btn btn-primary w-100" (click)="potencia()">^</button>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <button class="btn btn-primary w-100" (click)="multiplicacion()">x</button>
        </div>
        <div class="col">
            <button class="btn btn-primary w-100" (click)="division()">÷</button>
        </div>
        <div class="col">
            <button class="btn btn-danger w-100" (click)="limpiar()">CE</button>
        </div>
    </div>
</div>